<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<form action="/event/tambah/simpan" method="post">
	<div>
		<label for="nama">Nama</label>
		<input type="text" name="nama" id="nama">
	</div>
	<div>
		<label for="kategori">Kategori</label>
		<input type="text" name="kategori" id="kategori">
	</div>
	<div>
		<label for="lokasi">Lokasi</label>
		<input type="text" name="lokasi" id="lokasi">
	</div>
	<div>
		<label for="deskripsi">Deskripsi</label>
		<input type="text" name="deskripsi" id="deskripsi">
	</div>
	<div>
		<button type="submit">Simpan</button>
		<a href="/event/semua">Back</a>
	</div>
</form>
</body>
</html>